/* General leyout */

.header {
    background-color: #FFB6C1;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;
    border-radius: 10px;
  }
  
.header h1 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 2px;
    color: #333;
  }

.app-body {
    margin-top: 2%;
    padding: 1px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
}

/* Tasks list*/

.table-wrapper {
  max-width: 90%;
  margin: auto; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.table-all-tasks {
    width: 100%;
    border-collapse: collapse;
}

.table-all-tasks th {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
    padding: 10px; 
    text-align: center; 
}

.table-all-tasks.basic th {
    background-color: #00CED1; 
}

.table-all-tasks.high-urgent th {
    background-color: #FF6347; 
}

.table-all-tasks.low-urgent th {
    background-color: #FFD700; 
}

.table-all-tasks.low-not-urgent th {
    background-color: #6495ED; 
}

.table-all-tasks.high-not-urgent th {
    background-color: #9ACD32; 
}

.table-all-tasks td {
    font-family: 'Roboto', sans-serif; 
    padding: 10px; 
}

.checkbox-column {
    width: 50px; 
    text-align: center; 
}

.title-column {
    width: auto;
    text-align: left; 
}

.priority-column {
    width: 130px; 
    text-align: center; 
}

.deadline-column {
    width: 130px; 
    text-align: center; 
}

.icon-column {
    width: 40px; 
    text-align: center; 
    cursor: pointer; 
}


.icon-column svg {
    font-size: 1.2rem; 
    margin: 0 5px; 
}

/* Tasks Page */

.sub-nav-container {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px; 
    margin-bottom: 20px; 
} 

.btn-custom {
    min-width: 180px;
    max-height: 40px;
    background-color: #FFB6C1 !important;
    font-weight: bold !important; 
    border-color: #FFB6C1 !important;
    color: #333 !important;
}

.btn-custom:hover{
    background-color: #ffe6ea !important;
    border-color: #ffe6ea !important;
}

.gap {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Badges */
.custom-bg-high-urgent {
    background-color:#FF6347;
}

.custom-bg-high-not-urgent {
    background-color: #9ACD32;
}

.custom-bg-low-urgent {
    background-color: #FFD700;
}

.custom-bg-low-not-urgent {
    background-color: #6495ED;
}

.deadline-danger {
    color: #FF6347;
    font-weight: bold;
}

.deadline-warning {
    color: #FFD700;
    font-weight: bold;
}

.deadline-calm {
    color: #6495ED;
    font-weight: bold;
}


